<div style="display:flex;margin-bottom:10px;">
  <div style="padding-top: 10px;">
    <mat-icon style="padding-top: 3px;">gears</mat-icon>
    <h4 style="display: inline;position: relative;top: -5px;">
      <ng-container i18n>
        Pull Requests
      </ng-container>
    </h4>
  </div>
  <div style="flex: 1 1 auto"></div>
  <div>
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div style="display: inline-flex;">
  <input class="checkCell" [(ngModel)]="showPending" (change)="refresh()" type="checkbox"><ng-container i18n>Pending</ng-container>
  <input class="checkCell" [(ngModel)]="showAccepted" (change)="refresh()" type="checkbox"><ng-container i18n>Accepted</ng-container>
  <input class="checkCell" [(ngModel)]="showRejected" (change)="refresh()" type="checkbox"><ng-container i18n>Rejected</ng-container>
</div>

<div style="margin-right:25px;margin-left:25px;">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="branch">
      <mat-header-cell *matHeaderCellDef>
        <ng-container i18n>
          Branch Name
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef>
        <ng-container i18n>
          Message
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.msg }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>
        <ng-container i18n>
          Status
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ status(row) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <ng-container i18n>
          Actions
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button [matMenuTriggerFor]="menuEl" (click)="selectedItem = row">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="database.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<app-notes [note]="note" (commit)="saveNote($event)" [showNote]="showNote"></app-notes>
<app-reject (reject)="reject($event)" [showReject]="showReject"></app-reject>
<app-accept (accept)="accept($event)" [showAccept]="showAccept" [changes]="changes"></app-accept>

<app-pull-menu #menu (selection)="handleSelection($event)"></app-pull-menu>

