<div>
    <button mat-button id="commit" *ngIf="isAdmin && service.changes"
            (click)="openModalCommit()">
      <mat-icon>input</mat-icon>
      <ng-container i18n>Commit</ng-container>
    </button>
    <button mat-button *ngIf="isAdmin && publishDirty" id="publish"
            (click)="openModalPublish()">
      <mat-icon>launch</mat-icon>
      <ng-container i18n>Publish</ng-container>
    </button>
    <button mat-button *ngIf="!isAdmin && service.changes != null"
            (click)="callSubmit()">
      <ng-container i18n>Submit Changes</ng-container>
    </button>
</div>

