<mat-menu #menuEl>
  <button mat-menu-item (click)="selection.emit('review')">
    <mat-icon>eye</mat-icon>
    <ng-container i18n>Review</ng-container>
  </button>
  <button mat-menu-item (click)="selection.emit('acceptBranchModal')">
    <mat-icon>check</mat-icon>
    <ng-container i18n>Accept</ng-container>
  </button>
  <button mat-menu-item (click)="selection.emit('rejectBranchModal')">
    <mat-icon>reject</mat-icon>
    <ng-container i18n>Reject</ng-container>
  </button>
  <button mat-menu-item (click)="selection.emit('getNotes')">
    <mat-icon>eye</mat-icon>
    <ng-container i18n>View Notes</ng-container>
  </button>
  <button mat-menu-item (click)="selection.emit('addNote')">
    <mat-icon>pencil</mat-icon>
    <ng-container i18n>Add Note</ng-container>
  </button>
</mat-menu>

